@charset "UTF-8";
@import url("https://v1.fontapi.ir/css/Estedad");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: estedad;
}

.matn {
  background-color: #f2e327;
  margin: 30px 15px 20px 15px;
  /* margin-top: 150px;
  margin-left: 10px; */
  border-radius: 8px;
  /* width: 500px;
  height: 150px; */
  box-shadow: 8px 7px 8px 4px #cdbebe;
}
